/* other imports into specific layers */
@import "./buttons.css" layer(components);

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    button {
		@apply cursor-pointer;
	}

  h1 {
		@apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold;
		font-family: var(--font-heading-1);
	}
	h2 {
		@apply text-2xl leading-tight  lg:text-3xl md:leading-tight;
		font-family: var(--font-heading-1);
	}
	h3 {
		@apply text-lg leading-tight font-medium  md:text-2xl md:leading-tight;
		font-family: var(--font-heading-2);
	}
  p {
    @apply   md:text-base text-sm text-gray-600;
  }
  
  }

  /* You can include this in your global CSS if needed */
.scroll-animation .col {
	@apply translate-y-4 opacity-0 transition-all duration-1000;
  }
  
  .scroll-animation .col.scroll-animated {
	@apply translate-y-0 opacity-100;
  }

.scroll-animation .col:nth-child(1) { @apply delay-100; }
.scroll-animation .col:nth-child(2) { @apply delay-200; }
.scroll-animation .col:nth-child(3) { @apply delay-300; }

.hide-scrollbar::-webkit-scrollbar {
	display: none;
  }
.hide-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
  }
  