<div class="h-[800px] bg-[url('/images/BCDL-Hero.webp')] bg-cover bg-center">
    <div class="w-[80%] pt-40 mx-auto px-4 leading-relaxed">
      <h1 class="text-7xl leading-[90px]">U.S. Based <br>BigCommerce Development &<br>Growth Experts</h1>
      <p class="text-3xl mt-6">Our team of BigCommerce and Shopify experts are dedicated to quality and growth. We treat <br>your company as if it were our own.</p>
      <img width="300px" class="w-[350px] mt-9" src="/images/trusted-reviews.webp" alt="">
      <p class="mt-14">
        <a href="/book" class="bg-[#E94F3D] text-white text-xl px-6 py-4 rounded-full hover:bg-gray-600 transition-colors">
          Book a Free Audit
        </a>
      </p>
    </div>
  </div>